<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="capstone.project.repository.mybatis.DiaryMapper">

    <insert id="save">
        insert into diary (member_id, write_date, content, created_at, created_by, updated_at, updated_by)
        values (#{memberId}, #{writeDate}, #{content}, CURRENT_TIMESTAMP, '일기 생성', CURRENT_TIMESTAMP, '일기 생성')
    </insert>

    <select id="findNewDiary" resultType="Diary">
        select diary_id, member_id, write_date, content
        from diary
        where diary_id = (select max(diary_id) from diary)
    </select>

    <update id="update">
        update diary
        set member_id=#{updateParam.memberId},
        write_date=#{updateParam.writeDate},
        content=#{updateParam.content},
        updated_at=CURRENT_TIMESTAMP,
        updated_by='일기 수정'
        where diary_id = #{diaryId}
    </update>

<!--    <delete id="delete">-->
<!--        delete from diary-->
<!--        where diary_id = #{diaryId}-->
<!--    </delete>-->

    <update id="delete">
        update diary
        set is_public = 'N'
        where diary_id = #{diaryId}
    </update>

    <select id="findById" resultType="Diary">
        select diary_id, member_id, write_date, content
        from diary
        where diary_id = #{diaryId} and is_public = 'Y'
    </select>

    <select id="findAll" resultType="Diary">
        select diary_id, member_id, write_date, content
        from diary
        where is_public = 'Y'
        order by diary_id asc
    </select>

    <select id="findByMemberId" resultType="Diary">
        select diary_id, member_id, write_date, content
        from diary
        where member_id = #{memberId} and is_public = 'Y'
    </select>

</mapper>
